#content {
    max-width: 1600px;
    margin: 0 auto;

}
nav a {
    text-align: center;
    color: #F2F7FA;
    text-decoration: none;
}
nav a:hover {
    background-color: #00A8CC;
    color: #F2F7FA;
}
.logo{
    width: 80px;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    background-color: #FF7A00;
    height: 725px;
}
body {
    background-color: #F2F7FA;
}
header {
    background-color: #0A3D62;
}

.book, .join {
    background-color: #0A3D62;
    color: #F2F7FA;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #00A8CC;
    color: #F2F7FA;
}
.msg {
    background-color: #0A3D62;
    color: #F2F7FA;
}
.msg h2 {
    color: #F2F7FA;
}
.msg p {
    color: #F2F7FA;
}
footer {
    background-color: #0A3D62;
    color: #F2F7FA;
}
footer a {
    color: #F2F7FA;
    text-decoration: none;
}
footer a:hover {
    color: #F2F7FA;
}
footer p {
    font-size: 1.2em;
} 
footer p a:hover {
    text-decoration: underline;
}  
.home-title {
    color: #F2F7FA;
}
h4 {
    color: #111111;
}